@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

#you {
  display: flex;
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  display: flex;
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}
